body{
    background-color: aqua;
}
.paras{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    /* row-gap:20px;
    column-gap:20px; */
    gap:20px;
}
.para{
    padding: 1rem;
    background-color: blueviolet;
    color: aliceblue;
}